/*navbar começa aqui--------
--------------------*/

.navbar-header {
    display: flex;
    justify-content: center;
    /*font-family: 'Marck Script', cursive;*/
    font-family: 'Raleway', sans-serif;
}

#navbarMenu a {
    color: #232121;
    border: 1px solid #F1C8C7;
    margin-right: 10px;
}

#navbarMenu .active {
    background-color: #F1C8C7;
}

#navbarMenu a:hover {
    background-color: #F1C8C7;
}

/*fim da navbar-----------
-------------------------*/