body{
       
        
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(
    rgba(235, 206, 231, 0.849),
    rgba(231, 212, 229, 0.842) ) ,
    url("../img/fundo.jpg");
    background-position: right, left;
    transition: 5s;
}


.titulo-site{
    font-size: 25px;
    color:#ec7221;
    font-family: 'Marck Script', cursive;
    
}

.content h3{
    
    align-items: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 30px;
    
}

.content img{
    
   
    width: 340px;
    height: 340px;
}


.caract h3{
    
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 50px;
    color:#f1660a;
    align-items: center;
    
}

.brand-mission {
    
    align-items: center;
    color:#f1660a;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    
    width: 260px;
    height: 260px;
    background-color: #F1C8C7;
    border-radius: 1000px;
    line-height: 30px;
    font-family: 'raleway', cursive;
    font-size: 25px;
}