/*Inicio da área de login*/

.body-login {
    background-image: url(../img/space.jpg);
    background-size: cover;
    background-position: center;
    /*font-family: 'Marck Script', cursive;*/
    font-family: 'Raleway', sans-serif;
}

.container-fluid {
    height: 100vh;
    max-width: 600px;
}

.card {
    background-color: rgba( 255, 255, 255, 0.8);
}

.card-container .btn:hover {
    background-color: black;
    color: white;
}

.card-header {
    font-family: 'Marck Script', cursive;
}

/*fim da área de login*/