/* CSS Pagina Produto Individual começa aqui*/
body{
	background-image: url('../../public/img/background.jpg');
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no;
	font-family: 'Raleway', sans-serif;
}
.container h1{
	color: #232121;
	margin-left: 0px;
	font-weight: 300;
}
.breadcrumbs {
	list-style: none;
	padding-left: 0px;
	color:#232121;
}
.breadcrumbs li{
	display: inline-block;
}
.breadcrumbs a{
	color:#232121;
}
.col{
	padding: 0;
}
#carouselExampleIndicators{
	width: 350px;
	margin-right: 10px;
}
.carousel-item img{
	width: fit-content;
	height: fit-content;
}
.content{
	background-color: white;
	margin-bottom: 15px;
}
.content h2{
	color: #232121;
	font-size: 16px;	
	font-weight: 200;
}
.content h3{
	display: inline-block;
	color:#F7883F;
	width: 100%;
}
.botaoCompra{
	width: 100%;
	background-color:#F1C8C7;
	color:#F7883F;
	border: #F7883F;
}
.botaoCompra:hover{
	background-color:#7B5B5A;
	color: #F7883F !important;;
}
.back_link{
	color: #232121;
}
.back_link:hover{
	color: #232121;
}
/* CSS Pagina Produto Individual termina aqui*/

