<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administração produtos
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../public/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../../public/img/livroconectadas1.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title">Título do card</h5>
                    <p class="card-text">Este é um card mais longo com suporte a texto embaixo.</p>
                    <a href="#" class="btn btn-primary botaoCompra">Comprar</a>
                </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../public/img/livroguiadefinitivo.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card com suporte a texto embaixo.</p>
                <a href="#" class="btn btn-primary botaoCompra">Comprar</a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../../public/img/livroconectadas1.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Título do card</h5>
                <p class="card-text">Este é um card maior com suporte a texto embaixo.</p>
                <a href="#" class="btn btn-primary botaoCompra">Comprar</a>
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../../public/img/livroconectadas1.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">Título do card</h5>
                  <p class="card-text">Este é um card maior com suporte a texto embaixo.</p>
                  <a href="#" class="btn btn-primary botaoCompra">Comprar</a>
                </div>
            </div>
        </div>
    </div>


    <script src="../../public/js/jquery-3.6.0.min.js"></script>
    <script src="../../public/js/bootstrap.bundle.min.js"></script>
</body>
</html>
