<!DOCTYPE html>
<html>

    <head>
        <title>AdoraLer | Início</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../../../public/css/styles.css">
    </head>

    <body>
        <div class="content">
					
            <ul class="breadcrumbs">
                <li><a href="#">Início</a></li>
                <li>></li>
                <li>Estante</li>
            </ul>

            <h1>Livros</h1>
                
                <div style="background-image: url('./././public/img/livroconectada.jpg')"class="miniatura">
                    <a href="#">
                        <div class="blackbox">
                            <div class="blackbox_text">
                                <h1> Livro Conectada </h1>
                                <h2> Disponível</h2>
                            </div>
                        </div>
                    </a>
                </div>
                 
                <div style="background-image: url('./././public/img/livroguiadefinitivo.jpg')" class="miniatura">
                    <a href="#">
                        <div class="blackbox">
                            <div class="blackbox_text">
                                <h1> Centro bla bla </h1>
                                <h2> Web design</h2>
                            </div>
                        </div>
                    </a>
                </div>
                    

            <br>
            <a class="back_link" href="index.html">&larr;Voltar<a>


        </div>

    </body>

