<!DOCTYPE html>
<html>

    <head>
        <meta chanset="utf.8">
        <title>AdoraLer | Quem somos</title>
        <link rel="stylesheet" href= "CSSAQ/styles.css">
    </head>
    <body>
        <div class="titulo-site">
            <h1>
                Quem somos
            </h1>
        </div>

        <div class="content">

            
            
            <h3>
                <p>Fundada em junho de 1992 por um grupo de empresários com mais de mais de 20 anos de experiência
                no setor capitaneados por Jair Canizela que na época deixou a diretoria comercial
                de uma grande editora brasileira, com a proposta de preencher uma lacuna e suprir 
                falhas na distribuição de livros no país. Com a missão de oferecer os bons livros
                publicados pelas melhores editoras brasileiras e outros tantos importados, assim nasceu
                na cidade de São Paulo no bairro da Bela Vista a Distribuidora Loyola de Livros Ltda.</p>

                <p>Fundada em junho de 1992 por um grupo de empresários com mais de mais de 20 anos de experiência
                no setor capitaneados por Jair Canizela que na época deixou a diretoria comercial
                de uma grande editora brasileira, com a proposta de preencher uma lacuna e suprir 
                falhas na distribuição de livros no país. Com a missão de oferecer os bons livros
                publicados pelas melhores editoras brasileiras e outros tantos importados, assim nasceu
                na cidade de São Paulo no bairro da Bela Vista a Distribuidora Loyola de Livros Ltda.</p>
            </h3>

            <img src="https://trello.com/1/cards/615f03881b8cfb729833ca3c/attachments/6160d5cdbfd08031e51007f0/previews/6160d5cdbfd08031e5100803/download/AdoraLer_Logo_sfundo.png">
        </div>

    </body>
    </html>
