<!DOCTYPE html>
<html>

    <head>
        
    <link rel="preconnect" href="https://fonts.googleapis.com/%22%3E">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap" rel="stylesheet">
        <meta chanset="utf.8">
        <title>AdoraLer | Quem somos</title>
        <link rel="stylesheet" href= "CSSAQ/styles.css">
    </head>
    <body>
        <div class="titulo-site">
            <h1>
                Quem somos
            </h1>
        </div>

        <div class="content">

            
            
            <h3>
                <p>Somos a livraria Adoraler, uma livraria dedicada em dar a melhor experiência na escolha e compra de um livro. Em nossa loja, oferecemos títulos variados e de diferentes categorias, atendendo a ânsia do público. Apesar do pouco tempo  no cenário, visamos transformar nossa livraria referência na região. A livraria é formada por uma equipe capacitada disposta a ajudar nossos clientes a encontrarem o melhor livro. Temos o objetivo de fazer com que a leitura transforme o indivíduo ajudando o conhecimento a atingir as pessoas e construir um mundo melhor. 
                </p>

                <p></p>
            </h3>

            <img src="https://trello.com/1/cards/615f03881b8cfb729833ca3c/attachments/6160d5cdbfd08031e51007f0/previews/6160d5cdbfd08031e5100803/download/AdoraLer_Logo_sfundo.png">
        </div>
        
        <div class="bolinha">
            <div class="caract">
                <h3>
                    <p>Missão</p>
                    Fornecer uma variedade de títulos e garantir uma experiência única.
                </h3>
            </div>

            <div class="caract">
                <h3>
                    <p>Visão</p>
                    Ser uma loja de referência e oferecer conhecimento.
                </h3>
            </div>

            <div class="caract">
                <h3>
                    <p>Valores</p>
                    Responsabilidade e diversidade.
                </h3>
            </div>
            <!--  <img class="bolas" src="/public/img/bolinhaa-s fundo.png">-->
        </div>
    </body>
    </html>
