
body{

    font-family: arial;
    background-color: #f1c8c7;
}
.titulo-site{
    font-family: raleway;
    margin-left: 40px;
    color:#ec7221;

}
.content{
        text-align: left;
        
        display: flex;
    
}
.content h3{
        font-family: Marck Script;
   
    margin-left: 40px;
    margin-right: 100px;
    font-size: 17px;
}

.content img{
    margin-right: 50px;
    margin-top: -5px;
   
    width: 340px;
    height: 340px;
}

.bolas {
    margin-top: -3%;
    margin-left: 25%;
    width: 50%;
    height: 30%;
}

.bolinha{
    display: flex;
    justify-content: center;
}
.caract{
    font-family: Marck Script;
    font-size: 16px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #F7883F;
    border-radius: 1000px;
}